In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("test.db")

In [3]:
c1 = conn.cursor()

In [4]:
c1

In [5]:
sql_str = "drop table if exists my_table"

In [6]:
c1.execute(sql_str)

In [8]:
sql_str = """
create table if not exists my_table (
column_1 text,
column_2 text,
column_3 text
)
"""

In [9]:
c1.execute(sql_str)

In [10]:
sql_str = "insert into my_table (column_1, column_2, column_3) values (?, ?, ?)"
sql_tuple = ('a', 'b', 'c')
c1.execute(sql_str, sql_tuple)

In [11]:
conn.commit()

In [12]:
sql_str = "select * from my_table"
rows = c1.execute(sql_str)
for row in rows:
    print(row)

('a', 'b', 'c')

In [13]:
sql_str = "select * from sqlite_master"
rows = c1.execute(sql_str)
for row in rows:
    print(row)

('table', 'my_table', 'my_table', 2, 'CREATE TABLE my_table (\ncolumn_1 text,\ncolumn_2 text,\ncolumn_3 text\n)')

In [14]:
sql_str = "PRAGMA table_info('my_table')"
rows = c1.execute(sql_str)
for row in rows:
    print(row)

(0, 'column_1', 'text', 0, None, 0)
(1, 'column_2', 'text', 0, None, 0)
(2, 'column_3', 'text', 0, None, 0)

In [15]:
sql_str = "select * from sqlite_master where tbl_name = ?"
sql_tuple = ('my_table',)
rows = c1.execute(sql_str, sql_tuple)
for row in rows:
    print(row)

('table', 'my_table', 'my_table', 2, 'CREATE TABLE my_table (\ncolumn_1 text,\ncolumn_2 text,\ncolumn_3 text\n)')

In [16]:
sql_str = "select count(*) from my_table"
rows = c1.execute(sql_str)
for row in rows:
    print(row)

(1,)